{% extends 'layout.html' %}
{% block body %}
     <div class="dashboard">
         <div class="left">
            <a href="{{url_for('index')}}" class="user-opt">Home</a>
            <a href="{{url_for('view_questions')}}" class="user-opt">View Questions</a>
            <a href="{{url_for('ask_page')}}" class="user-opt">Ask A Question</a>
            <a href="{{url_for('logout')}}" class="user-opt">Log Out</a>
         </div>
         <div class="right">
             <div class="recent">

                          <div class="status">
                                      <div class="status-header">
                                            <div class="status-heading">
                                                <div class="prof-pic">
                                                    <img src="{{url_for('static',filename='images/grin-alt.svg')}}" alt="face" width="50">
                                                </div>
                                                <h3>{{question_to_answer.author}}</h3>
                                            </div>
                                            <div class="time-posted">
                                                <small>{{question_to_answer.date_asked.strftime("asked on %d-%m-%y at %H:%M")}}</small>
                                            </div>
                                      </div>


                                      <div class="status-content">
                                         <h3>{{ question_to_answer.title }}</h3> 
                                        <p>{{question_to_answer.content}}</p>
                                      </div>
                                      <div class="like-share">
                                          <a href=""><img src="{{url_for('static',filename='images/thumbs-up.svg')}}" alt="" width="30">Like</a>
                                          <a href=""><img src="{{url_for('static',filename='images/thumbs-down.svg')}}" alt="" width="30">Dislike</a>
                                          <a href="#"><img src="{{url_for('static',filename='images/comment-dots.svg')}}" alt="" width="30">{{count}}</a>
                                      </div>
                                      <hr>
                          </div>
                      </div>

                      <div class="content-text">
                          <form  action="/add_answer/{{question_to_answer.id}}" method="post">
                            <label for="content">Your Answer</label><br>
                            <textarea name="content" rows="5" cols="80"></textarea>
                            <input type="submit"  value="Submit Answer" class="mybtn">
                          </form>
                      </div>

                      <div class="answers">
                        {% for answer in answers%}
                              <div class="status">
                                  <div class="status-header">
                                        <div class="status-heading">
                                            <div class="prof-pic">
                                                <img src="{{url_for('static',filename='images/grin-alt.svg')}}" alt="face" width="50">
                                            </div>
                                            <h3>{{answer.author}}</h3>
                                        </div>
                                        <div class="time-posted">
                                            <small>{{answer.date_answered.strftime("answered on %d-%m-%y at %H:%M")}}</small>
                                        </div>
                                  </div>
                                  <div class="status-content">
                                     <h3> </h3> 
                                    <p>{{answer.content}}</p>
                                  </div>
                                  
                                 <div class="delete">
                                    {% if answer.author==current_user %}
                                       <a href="/delete_answer/{{answer.id}}"><img src="{{url_for('static',filename='times-circle.svg')}}" alt="" width="30">Delete</a>
                                    {% endif %}
                                 </div>
                                      

                          </div>
                          <hr>
                          <br>
                        {%endfor%}
                      </div>





{% endblock body %}
