{% extends 'layout.html' %}
{% block body %}
     <div class="dashboard">
         <div class="left">
            <a href="{{url_for('index')}}" class="user-opt">Home</a> 
            <a href="{{url_for('view_questions')}}" class="user-opt">View Questions</a>
            <a href="{{url_for('ask_page')}}" class="user-opt">Ask A Question</a>
            <a href="{{url_for('logout')}}" class="user-opt">Log Out</a>
         </div>
         <div class="right">
             <div class="recent">                
                        <div class="quest">
                           <h2>{{question_to_answer.author}}</h2> 
                           <h3>{{question_to_answer.title}} </h3>
                           <p>{{question_to_answer.content}}</p>
                           <br>
                           <div class="">
                                <form action="/add_answer/{{question_to_answer.id}}" method="post">
                                   <textarea name="content" id="" cols="30" rows="10" placeholder="Your Answer"></textarea>
                                   <br>
                                   <input type="submit" value="Answer Question" class="mybtn">
                                </form>
                            </div>
                            <br><br>

                            <div class="">
                                <h2>{{count}} Answers for the question</h2>
                                {% for answer in answers  %}
                                    
                                    {% if answer.question_id == question_to_answer.id %}
                                    <div class="quest">
                                            <h3>{{answer.author}}</h3> at <small>{{answer.date_answered}}</small>
                                            <p>{{answer.content}}</p>
                                            <div class="quest-opt">
                                                <a href="">Like</a>
                                            </div>
                                    </div>
                                        <br><br>
                                    {% endif %}
                                {% endfor %}
                                    
                            </div>
                        </div>
                        <br><br>

                       
             </div>
         </div>
     </div>
 
  
{% endblock body %}
