{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="other">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    
<div class="container">
        <div class="form">
                <form action="{{url_for('login')}}" method="post">
                    <h2>Sign In</h2>
                    <br><br>
                    <input type="text" name="username" id="" class="myfield" placeholder="Username">
                    <br><br>
                    <input type="password" name="password" id="" class="myfield" placeholder="Password">
                    <br><br>
                    <input type="submit" value="Sign In" class="mybtn" >   
                    
                </form>
                <br><br> 
                <div class="other">
                    <small>
                        Do not Have An Account? <a href="{{url_for('signup')}}"> Create One Here</a>
                    </small>
                </div>
        </div>
</div>
{% endblock body %}
    