*{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: dodgerblue;
}
header,footer{
  background-color: rgb(72, 72, 224);
  color: white;
  padding: 20px;
  text-align: center;
}
header a{
  color: white;
  text-decoration: none;
}
.welcome{
  min-height: 500px;
  text-align: center;
  padding: 220px;
  background-color: rgba(30, 143, 255, 0.671);
  color: white;
  border-bottom-right-radius: 300px;
  border-top-left-radius: 300px;
}

.options{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.options a{
  padding: 10px;
}
.mybtn{
  color: rgba(255, 255, 255, 0.589);
  text-decoration: none;
  background-color: dodgerblue;
  border: white 1px solid;
  border-radius: 7px;
  padding: 16px;
  font-weight: bolder;
}
.mybtn:hover{
  color:white;

}

.form{
  padding: 30px;
  color:rgb(72, 72, 224);
  width: 500px;
  margin: auto;
  text-align: center;
  border-radius: 7px;
  border: 1px solid coral;
  background-color: white;
}
.other{
  border: 1px solid coral;
  padding: 20px;
  border-radius: 7px;
}
.other a{
  color:dodgerblue;
}
.container{
  padding: 80px;
  min-height: 500px;
}
.form-group{
  display: flex;
}
.form-group input[type=text]{
  margin: 5px;
}
.dashboard{
  min-height: 500px;
  display: flex;
}
.left{
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid rgba(148, 135, 135, 0.212);
  position: relative;
  background-color: white;

}
.left a{
  color: coral;
}

.user-opt{

  background-color: white;
  padding: 20px;
  color: rgba(30, 143, 255, 0.671);
  text-decoration: none;

}
.user-opt:hover{
color: white;
background-color:coral;
}
.right{
  background-color:rgba(255, 255, 255, 0.541);
  width: 80%;
}
.recent{
 padding: 20px;
 color: dodgerblue;
}
.question-form{
  padding: 20px;
  text-align: center;;
}
.ask-quest{
  padding: 20px;
  color: dodgerblue;
  width: 500px;
}
textarea{
  border-radius: 7px;
  border: 1px solid rgba(116, 113, 113, 0.356);
}
.question{
  padding: 40px;
  width: 80%;
  color: dodgerblue;
}
.quest{
  border:1px solid rgba(104, 102, 102, 0.363);
  border-radius: 7px;
  padding:20px;
}
.quest p{
  color: black;
}
.myfield{
  width: 350px;
}

input[type=text]{
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgba(146, 135, 135, 0.397);
  color: dodgerblue;
}

input[type=password]{
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgba(146, 135, 135, 0.397);
  color: dodgerblue;
}
.question-form{
  display: flex;
}
.content-text{
  padding:30px;
  width: 70%;
  color: dodgerblue;
}
.answers{
  padding-left:40px;
  width: 70%;
}
.status{
    width: 70%;
    font-family: sans-serif;

    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.842);
    color: rgb(30, 53, 255);
}
.status-header{
    display: flex;
    justify-content: space-between;

}
.status-heading{
    display: flex;
    justify-content: space-around;
}
.time-posted{
    padding: 20px;
    color: dodgerblue;
}
.prof-pic{
    padding: 5px;
}
.status-content{
    padding: 5px;
}
.like-share{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.like-share a{
    color: coral;
    text-decoration: none;
}
