*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
   
}
header{
    background-color:rgb(23, 154, 241);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header ul li{
    list-style-type:none ;
    display: inline;
    padding: 20px;

}
header a{
    color: white;
    text-decoration:none;
    
}
nav{
    margin-top:10px;
}
.mainbody{
    min-height: 400px;
    padding: 20px;
 
}
.form{
    border: 1px solid rgb(23, 154, 241);
    border-radius: 7px;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    color: rgb(23, 154, 241);
    padding: 30px;
    

}
.other{
    border: 1px solid rgba(23, 154, 241, 0.404);
    width: 300px;
    margin: auto;
    padding: 20px;

    
}
.mybtn{
    background-color:rgb(23, 154, 241);
    border: none;
    padding: 10px;
    border-radius: 7px;
    color: white;
    color:white;
}
.mybtn:hover{
    color: rgb(23, 154, 241);
    background-color: white;
    border: 1px solid rgb(23, 154, 241);
}
input[type=text]{
    border: rgba(23, 154, 241, 0.185) 1px solid;
    padding: 5px;
    border-radius: 7px;
    color: rgb(23, 154, 241);
}

footer{
    text-align: center;
    background-color: rgb(23, 154, 241);
    padding: 50px;
    color: white;
    height: 50px;
}
.other a{
    color: rgb(23, 154, 241);
    text-decoration: none;
}
.welcome{
    padding: 100px;
    border: 1px solid rgba(23, 154, 241, 0.459);
    padding: 180px;
    border-bottom-right-radius: 300px;
    color: rgb(23, 154, 241);
}

