<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StacK OverFlow|Ask Any Question</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{url_for('index')}}"><h1>StackOverflow Lite</h1></a>
        </div>
        <nav>
            <ul>
                <li><a href="{{url_for('signup')}}">Sign Up</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="mainbody">
      {% block body %}
      
      {% endblock body %}


    </div>
    <footer>
        &copy; StackOverflow Lite 2019
    </footer>
    
</body>
</html>