{% extends 'layout.html' %}
{% block body %}
<div class="form">
    <h2>Sign Up</h2>
    <p>Username</p>
    <input type="text" name="username" id="" class="myfield">
    <p>Email</p>
    <input type="text" name="email" id="" class="myfield">
    <p>Password</p>
    <input type="text" name="password" id="" class="myfield">
    <p>Confirm Password</p>
    <input type="text" name="confirm" id="" class="confirm">
    <br><br>
    <input type="submit" value="Sign Up" class="mybtn">
</div>
<br><br>

<div class="other">
    <small>Have An Account? , <a href="{{url_for('login')}}">Login</a></small>
</div>
{% endblock body %}