{% extends 'layout.html' %}
{% block body %}

{% with messages =get_flashed_messages()  %}
{% if messages %}
    {% for message in messages %}
        <div class="other">
            <center>
                <p>{{message}}</p>
                <a href="{{url_for('login')}}">Login</a>
            </center>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<form action="{{url_for('signup')}}" method="POST">   
<div class="form">
    <h2>Sign Up</h2>
    <p>Username</p>
    <input type="text" name="username" id="" class="myfield">
    <br>
    <p>Email</p>
    <input type="text" name="email" id="" class="myfield">
    <br>
    <p>Password</p>
    <input type="password" name="password" id="" class="myfield">
    <br>
    <p>Confirm Password</p>
    <input type="password" name="confirm" id="" class="confirm">
    <br><br>
    <input type="submit" value="Sign Up" class="mybtn">
</div>
</form>
<br><br>

<div class="other">
    <small>Have An Account? , <a href="{{url_for('login')}}">Login</a></small>
</div>
{% endblock body %}